TrafficTrain/TrafficTrain/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AGDPService/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/AGDPService/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AGDP.Common.ModelData" />
  <xs:element name="GetTimeTableByArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numberArea" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeTableByAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTimeTableByAreaResult" nillable="true" type="q1:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeTableByAreaRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numberArea" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateWindowStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateWindowEnd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeTableByAreaRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTimeTableByAreaRangeResult" nillable="true" type="q2:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTimeTableWindow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numberArea" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateWindow" type="xs:dateTime" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AGDP.Common.ModelData" minOccurs="0" name="timeTable" nillable="true" type="q3:ArrayOfTrainEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTimeTableWindowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SetTimeTableWindowResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>