TrafficTrain/TrafficTrain/Service References/ServiceReference1/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AGDP.Common.ModelData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AGDP.Common.ModelData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTrainEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrainEvent" nillable="true" type="tns:TrainEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrainEvent" nillable="true" type="tns:ArrayOfTrainEvent" />
  <xs:complexType name="TrainEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeESR" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdObject" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdStrage" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NamePoint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameRope" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TechStop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeArrival" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeDeparture" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TrainArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrainDeparture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrainId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrainEvent" nillable="true" type="tns:TrainEvent" />
</xs:schema>