TrafficTrain/TrafficTrain/Service References/ServiceTrainHelp/InfoTrainService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63898/InfoTrainService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:63898/InfoTrainService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MessageTrainService" />
  <xs:element name="GetMessageTrains">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MessageIds" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageTrainsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MessageTrainService" minOccurs="0" name="GetMessageTrainsResult" nillable="true" type="q2:ArrayOfTrainInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageTrain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MessageId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageTrainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MessageTrainService" minOccurs="0" name="GetMessageTrainResult" nillable="true" type="q3:TrainInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>